*{
    padding: 0;
    margin :0;

}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.section{
   
    padding: 20px;
   
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px 5px #888888;
}

.label{
    display: flex;
    justify-content: center;
    
}
.button{
  
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 10px;
    font-size: larger;
    font-weight: 200;
}
#result{
    padding:10px ;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: aliceblue;
}