
*{
    margin: 0;
    padding: 0;
    
}
body{
  width: 100%
 
}

.header{
 
    width: 100%;
    background-color: #d9f7be;
  
}
.logo{
    padding: 5px;
    width: 100%;
}
.navigation{
    padding: 5px;
    display: flex;    
    justify-content: space-between;
    background-color: rgb(243, 238, 248);
    
    }
    .navi{
        text-decoration: none;
        color: black;
    }
    .navi:hover ::after{
      background-color: red;
      transition: all 0.5s;
    }
.img{
    width: 100%;
}
.introduction{
           
    border: 1px solid black;
    
}
h2,.paragraph{
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #0958d9;
    color: white;
    font-family: "Inter", sans-serif; 
}  
h2{
    font-weight: 200px;
       
}
.figure{
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  
}
.div-figimage{
    display: flex;
    justify-content: center;
}
.figimage{
    
    display: flex;
    justify-content: center;

  }
  @media only screen and (min-width: 600px){
    .logo{
     height: 80px;
    }
    .image-and-paragraph{
        display: flex;
        gap: 10px;
        
    }
    .group-image{
        width:650vh;

    }
    .paragraph{
        font-size: 87%;
    }
    .figure{
        margin-top: 1%;
    }
    .figimage{
        width: 60%;
        margin-left: 95px;
    
      }
  }
  .figure-and-isntruction-profile{
    display: flex;
    justify-content: space-between;

  }
  .paragraph-of-company{
    display: flex;
    justify-content: center;
    padding: 6%;
    font-family: "Inter", sans-serif; 

  }
  .instructonal-profile{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    gap: 10px;

  }
  .image-and-paragraph{
    width: 50%;
  }
  .for-for-instruction-profile{
    width: 50%;
  }
  .top-of-instruction-cycle{
    padding: 2%;
    display: flex;
    justify-content: center;
    background-color: #eaff8f;
    border: 1px solid black;
    
  }
 
.section-list-of-ic{
    display: flex;
    flex-direction: column;
    justify-content: center;     
    gap: 10px;
}


.is{
    padding: 3%;
    border: 1px solid grey;
    background-color: white;
    display: flex;
    justify-content: center;    
}


  .footer{
    background-color: #237804;
    color: white;
    display: flex;
    flex-direction: column;
    
  }
  h4{
    padding: 5px;
    display: flex;
    font-weight: 100;
    margin-left: 2px;
    font-size: large;
  }
  .footer-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4vh;
  }
  .footer-li{
    padding: 1%;
    font-size: large;
  }
  .a-footer{
    padding: 1px;
    text-decoration: none;
    color: white;
    font-size: large;
  }
  .button-of-feedback{
    display: flex;
    gap: 5px;
    padding: 5px;
    margin-left: 20px;
  }
  .section-of-head-office{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .externl-div{
    padding: 20px;
  }
  .div-of-aarthik-bikash{
    display: flex;
    gap: 2px;
    margin-left: 5px;
  }
  .div-of-a-in-head-office{
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 1px;
    margin-left: 5px;
  }

    

