* {
  margin: 0;
  padding: 0;
  width: 100%;
}
header {
  background-color: #73d13d;
}
.img-logo{
    padding: 5px;
}
.navigation {
  display: flex;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;

}
.navi {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
    
  background-color: #feffe6;
}
.navi:hover {
  background-color: red;
}
.div-of-main-1 {
  margin-top: 5px;
}
.introduction-of-arthik {
  border: 1px solid black;
  background-color: #4096ff;
}
.introduction {
  width: 97%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-of-introduction {
  
    width: 97%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  

}
.paragraph-of-introduction{
    padding: 20px;
}
.message{
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: large;
}
.image-of-figure{
    padding: 5px;
    width: 35vh;
}
.message-part{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
}
.div-of-figure{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.name-of-the-oficer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.description-of-the-officer{
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 97%;

}
.paragraph-of-description{
    padding: 20px;
}
.div-instruction-cycle{
    width: 97%;
}
.heading-of-instruction-cycle{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: large;
    font-weight: 100;
    background-color: rgb(18, 171, 18);
}
.ic{
    display: flex;
    justify-content: right;
    padding: 5pxs;
    border: 1px solid grey;
    padding: 5px;
}
.dic-ic{
    display: flex;
    flex-direction: column;
    gap: 10px;
       
}
@media only screen and (min-width: 600px){


}


