*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #fff7e6;
}
.header{
    margin: 0;
    padding: 0;
    background-color:aliceblue;
    height: auto;
    max-width: 430;
}
.div-h1{
    padding: 10px;
    display: flex;
       gap: 10px;
    justify-content: space-between;
    height: 50px;
}

.section-h1{
width: 70%;
display: flex;
align-items: center;
}
.section-h2{
 
    width: 20%;
    display: flex;
    flex-direction: column;
}
.section-h3{
    width: 10%;
    display: flex;
}
.img-h1{
    width: 250px;
}
.img-h2{
    width: 50px;
}
.notice{
    padding: 5px;
    display: flex;
    background-color:#FBF6E9;
    color: #118B50;
    justify-content: space-evenly;
}
/* now for main part */
.group-image{
    height: auto;
     width: 430px;
}
.div-m-s1{
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(139, 139, 254);
}
.figure{
   background-color: rgb(141, 185, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .figcaption{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
@media screen and (min-width: 500px){
    *{
        padding: 0;
        margin: 0;
    }
.header{
    margin: 0;
    padding: 0;
    background:rgb(234, 142, 142);
}
h1{
    padding: 2px;
    display: flex;
    justify-content: center;

}
.div-h1{
   
    height: 90px;
}
.notice{
    padding: 10px;
}
.section-h1{
    width: 60%;
   
}
.section-h2{
    width: 25%;
}

.section-h3{
    width: 15%;
}
.img-h1{
    width: 500px;
}
.img-h2{
    width: 90px;
}
/* this part is for main */
.group-image{
    height: auto;
     width: 700px;
}
.div-m1{
    display: flex;
}
}

