*{
    margin: 0;
    padding: 0;

}
.header{
    background-color: rgb(91, 150, 202);
    height: 200px;
}
.div-h1{
    display: flex;
    padding: 0;
    background-color: blue;
    gap: 20px;
    

}

.section-h1{
    width: 50%;
    justify-content: center;    
}
.section-h2{
    width: 30%;
    text-align: center;
    
}
.section-h3{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div-s1{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*this is before navigation*/
.navigation{
   
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: rgb(134, 177, 214);
    color: black;

}
a{
    color: black;
}
his is before main*/
.content-main{
    background-color: blueviolet;
}
.main-s1{
    width: 770px;
}
.content-part1{
    display: flex;
    padding: 20px;
    gap: 100px;
    justify-content:space-evenly;
}
.section-2{
    width: 500px;
    border: 2px solid black;
    padding: 20px;
    background-color: antiquewhite;
    width: fit-content;

}
.content-part2{
    display: flex;
    justify-content: space-between;
}
.ip{
    display: flex;
    gap: 20px;
}

.footer-part1{
    display: flex;
    gap: 20px;
    justify-content: space-between;    
   
    
}
.footer-main{
    background-color: rgb(218, 120, 120);
}


